* {
    font-family: sans-serif;
}

#interface {
    height: 95vh;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 5px
}

h1 {
    text-align: center;
    font-size: 25px;
}

.row {
    display: flex;
}

.column {
    flex: 15%;
    padding: 30px;
}

#canvas {
    flex: 70%;
    padding: 0;
}

textarea {
    width: 100%;
    height: 20%;
}

#interface {
    height: 100%;
}

label, input {
    width: 100%;
}
