* {
    font-family: sans-serif;
}

button {
    width: 100%;
    padding: 5px;
    margin: 5px
}

h1 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 20%;
    padding: 30px;
}

#canvas {
    flex: 60%;
    padding: 0;
}

textarea {
    width: 100%;
    height: 20%;
}

#interface {
    height: 50%;
}

label, input {
    width: 100%;
}
