
button {
    width: 100%
}

h1 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: auto;
}

textarea {
    width: 100%;
    height: auto;
}

#commands {
    background-color: yellow;
}

#interface {
    height: 50%;
}

table {
    margin-left: 10%;
    margin-right: auto;
}

label, input {
    width: 100%;
}

#run-event-selector {
    margin: 50px;
}